<!-- Hero-->
<section class="module-cover parallax" data-background="<%= image_tag 'menu-chat-2.jpg' %>" data-overlay="0.1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Hello Kitty</h2>
                <ol class="breadcrumb">
                    <!-- a mettre que si on fait des catégories -->
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active">Kitty</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- Hero end-->
