<!-- Footer-->
 <footer class="footer">
     <div class="footer-widgets">
         <div class="container">
             <div class="row">
                 <div class="col-md-3">
                     <!-- Text widget-->
                     <aside class="widget widget-text">
                         <div class="widget-title">
                             <h6>About Us</h6>
                         </div>
                         <div class="textwidget">
                             <p>Get a picture to save a cat. Your money will serve a great cause.</p>
                         </div>
                     </aside>
                 </div>
                 <div class="col-md-3">
                     <!-- Recent entries widget-->
                     <aside class="widget widget-text">
                         <div class="widget-title">
                             <h6>Contact</h6>
                         </div>
                         <div class="textwidget">
                            <p>
                                Location: La bérangère<br>
                                E-mail: lovekitty@money.com<br>
                                Phone: +262 425 452 333<br>
                             </p>
                             <ul class="social-icons">
                                <li><a href="https://twitter.com/RealGrumpyCat?lang=fr"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/cats/"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.facebook.com/this.is.cats.world/"><i class="fab fa-facebook-f"></i></a></li>
                             </ul>
                          </div>
                     </aside>
                 </div>
                 <div class="col-md-3">
                     <!-- Twitter widget-->
                     <aside class="widget widget-text">
                         <div class="widget-title">
                             <h6>FAQ</h6>
                         </div>
                         <div>
                          <p>Kitty world don't refund money <br>
                          Pictures are sent by email</p>
                         </div>
                     </aside>
                 </div>
             </div>
         </div>
     </div>
     <div class="footer-bar">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <div class="copyright">
                         <p>© 2018 THP GreStraNi - Design with ❤️</p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </footer>
<!-- Footer end-->
