        <!-- Header-->
        <header class="header header-transparent">
            <div class="container-fluid">
                <!-- Brand-->
                <div class="inner-header"><a class="inner-brand" href="index.html">KittyWorld</a></div>
                <!-- Navigation-->
                <div class="inner-navigation collapse">
                    <div class="inner-nav">
                        <ul>
                            <li class="menu-item-has-children menu-item-has-mega-menu"><a href="#"><span class="menu-item-span">Home</span></a>
                            </li>
                            <li class="menu-item-has-children menu-item-has-mega-menu"><a href="#"><span class="menu-item-span">Shop</span></a>
                            </li>
                            <li class="menu-item-has-children menu-item-has-mega-menu"><a href="#"><span class="menu-item-span">About</span></a>
                            </li>
                            <li class="menu-item-has-children"><a href="#"><span class="menu-item-span">Contact</span></a>
                            </li>
                            <!-- Menu déroulant avec icones et image de fond -->
                            <li class="menu-item-has-children menu-item-has-mega-menu"><a href="#"><span class="menu-item-span">Components</span></a>
                                <div class="mega-menu">
                                    <ul class="sub-menu mega-menu-row" data-background="assets/images/menu-chat-2.jpg">
                                        <!-- Column 1-->
                                        <li class="menu-item-has-children mega-menu-col"><a href="#">Group 1</a>
                                            <ul class="sub-menu">
                                                <li><a href="components-alerts.html"><i class="fas fa-exclamation-triangle"></i> Alerts</a></li>
                                                <li><a href="components-accordion.html"><i class="fas fa-plus-square"></i> Accordion</a></li>
                                                <li><a href="components-buttons.html"><i class="fas fa-link"></i> Buttons</a></li>
                                                <li><a href="components-clients.html"><i class="fab fa-amazon"></i> Clients</a></li>
                                                <li><a href="components-counters.html"><i class="fas fa-superscript"></i> Counters</a></li>
                                                <li><a href="components-maps.html"><i class="fas fa-map"></i> Google Maps</a></li>
                                                <li><a href="components-grid.html"><i class="fas fa-th"></i> Grid</a></li>
                                                <li><a href="components-hero.html"><i class="fas fa-object-ungroup"></i> Hero</a></li>
                                                <li><a href="components-iconbox.html"><i class="fas fa-bold"></i> IсonBox</a></li>
                                            </ul>
                                        </li>
                                        <!-- Column 2-->
                                        <li class="menu-item-has-children mega-menu-col"><a href="#">Group 2</a>
                                            <ul class="sub-menu">
                                                <li><a href="components-forms.html"><i class="fas fa-align-justify"></i> Inputs</a></li>
                                                <li><a href="components-modal.html"><i class="fas fa-plus-square"></i> Modal</a></li>
                                                <li><a href="components-pie.html"><i class="fas fa-chart-pie"></i> Pie charts</a></li>
                                                <li><a href="components-pricing.html"><i class="fas fa-dollar-sign"></i> Pricing Tables</a></li>
                                                <li><a href="components-progress.html"><i class="fas fa-tasks"></i> Progress Bars</a></li>
                                                <li><a href="components-sections.html"><i class="fas fa-object-ungroup"></i> Sections</a></li>
                                                <li><a href="components-sliders.html"><i class="fas fa-images"></i> Sliders</a></li>
                                                <li><a href="components-tabs.html"><i class="fas fa-columns"></i> Tabs</a></li>
                                                <li><a href="components-team.html"><i class="far fa-user-circle"></i> Team</a></li>
                                            </ul>
                                        </li>
                                        <!-- Column 3-->
                                        <li class="menu-item-has-children mega-menu-col"><a href="#">Group 3</a>
                                            <ul class="sub-menu">
                                                <li><a href="components-testimonials.html"><i class="fas fa-quote-right"></i> Testimonials</a></li>
                                                <li><a href="components-tooltips.html"><i class="far fa-question-circle"></i> Tooltips</a></li>
                                                <li><a href="components-typography.html"><i class="fas fa-font"></i> Typography</a></li>
                                                <li><a href="components-video.html"><i class="fab fa-youtube"></i> Video</a></li>
                                                <li><a href="documentation.html"><i class="fas fa-info-circle"></i> Documentation</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="extra-nav">
                    <ul>
                        <li><a class="top-bar-cart" href="shop-cart-1.html"><span class="menu-item-span"><i class="ti-shopping-cart"></i><span>3</span></span></a></li>
                        <li><a class="off-canvas-open" href="#"><span class="menu-item-span"><i class="ti-menu"></i></span></a></li>
                        <li class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="menu-item-span"><i class="ti-menu"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- Header end-->
