<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>


<% if @cart.size !== 0 %>
  <p> There are no items in your cart </p>
  <%= link_to "Return to shop", items_path %>
<% else %>
<% @cart.items.each do |i| %>
  <%= i.title %>, <%= i.price %>
<% end %>
