<%= render 'items/components/banner' %>
<%= render 'items/components/cards_item' %>
<%= render 'items/components/sidebar' %>

<!-- To top button--><a class="scroll-top" href="#top"><i class="fas fa-angle-up"></i></a>
